<h1>My sensors</h1>
<% @sensors.each do |sensor| %>
	<div class='m-1'>
		<p><%= link_to sensor.name, sensor_path(sensor)%></p>
		<p><%= "#{sensor.model}, #{sensor.brand}, #{sensor.serial_number}" %></p>
	</div>
<% end %>


<%= link_to 'Add a new sensor', new_sensor_path, class: "btn btn-primary mt-1"%>
